USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[PURCHASE]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE](
	[ID_PACK] [int] NOT NULL,
	[ID_COMP] [int] NOT NULL,
	[PAY_METHOD] [varchar](255) NOT NULL,
	[PURCHASED_DATE] [date] NOT NULL,
	[TIMES] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PACK] ASC,
	[ID_COMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PURCHASE]  WITH CHECK ADD  CONSTRAINT [FK_COMP_PURCHASE] FOREIGN KEY([ID_COMP])
REFERENCES [dbo].[COMPANY] ([ID])
GO
ALTER TABLE [dbo].[PURCHASE] CHECK CONSTRAINT [FK_COMP_PURCHASE]
GO
ALTER TABLE [dbo].[PURCHASE]  WITH CHECK ADD  CONSTRAINT [FK_PACK_PURCHASE] FOREIGN KEY([ID_PACK])
REFERENCES [dbo].[PACK] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE] CHECK CONSTRAINT [FK_PACK_PURCHASE]
GO
