USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[CV_PHONENUM]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV_PHONENUM](
	[ID] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
	[PHONENUM] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_USER] ASC,
	[PHONENUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CV_PHONENUM]  WITH CHECK ADD  CONSTRAINT [FK_CV_PHONE] FOREIGN KEY([ID], [ID_USER])
REFERENCES [dbo].[CV] ([ID], [ID_USER])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CV_PHONENUM] CHECK CONSTRAINT [FK_CV_PHONE]
GO
