USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[ID] [int] NOT NULL,
	[ACC_ID] [int] NOT NULL,
	[UPLOADER_NAME] [varchar](255) NOT NULL,
	[TITLE] [varchar](255) NOT NULL,
	[UPLOAD_TIME] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD  CONSTRAINT [FK_ACC] FOREIGN KEY([ACC_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[POST] CHECK CONSTRAINT [FK_ACC]
GO
