USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[RECRUIT_POST]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECRUIT_POST](
	[ID] [int] NOT NULL,
	[WORK_PLACE] [varchar](255) NULL,
	[POSTION] [varchar](255) NOT NULL,
	[REQUIREMENT] [varchar](255) NULL,
	[WORK_TIME] [varchar](255) NULL,
	[SALARY] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[CV_DEADLINE] [datetime] NULL,
	[ID_UPLOADER] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RECRUIT_POST]  WITH CHECK ADD  CONSTRAINT [FK_RECR_POST] FOREIGN KEY([ID])
REFERENCES [dbo].[POST] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECRUIT_POST] CHECK CONSTRAINT [FK_RECR_POST]
GO
ALTER TABLE [dbo].[RECRUIT_POST]  WITH CHECK ADD  CONSTRAINT [FK_UPLOADER_POST] FOREIGN KEY([ID_UPLOADER])
REFERENCES [dbo].[RECRUIT_POST_UPLOADER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECRUIT_POST] CHECK CONSTRAINT [FK_UPLOADER_POST]
GO
