USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[CV]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV](
	[ID] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
	[EMAIL] [varchar](255) NULL,
	[CARREER_OBJ] [varchar](255) NOT NULL,
	[EXP_FIELD] [varchar](255) NOT NULL,
	[TIME_ACCUM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_USER_CV] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[NORMAL_USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_USER_CV]
GO
