USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[BLOG]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOG](
	[ID] [int] NOT NULL,
	[CONTENT] [varchar](255) NOT NULL,
	[PIC] [varchar](255) NULL,
	[ID_USER] [int] NOT NULL,
	[LIKENUM] [int] NULL,
	[DISLIKENUM] [int] NULL,
	[VIEWNUM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BLOG] ADD  DEFAULT ((0)) FOR [LIKENUM]
GO
ALTER TABLE [dbo].[BLOG] ADD  DEFAULT ((0)) FOR [DISLIKENUM]
GO
ALTER TABLE [dbo].[BLOG] ADD  DEFAULT ((0)) FOR [VIEWNUM]
GO
ALTER TABLE [dbo].[BLOG]  WITH CHECK ADD  CONSTRAINT [FK_BLOG_POST] FOREIGN KEY([ID])
REFERENCES [dbo].[POST] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BLOG] CHECK CONSTRAINT [FK_BLOG_POST]
GO
ALTER TABLE [dbo].[BLOG]  WITH CHECK ADD  CONSTRAINT [FK_USER_BLOG] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[NORMAL_USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BLOG] CHECK CONSTRAINT [FK_USER_BLOG]
GO
