USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[PACK]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACK](
	[ID] [int] NOT NULL,
	[PRICE] [int] NOT NULL,
	[EXPIRATION] [int] NOT NULL,
	[MAX_POST] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
