USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[VIEWED_CV]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIEWED_CV](
	[ID_CV] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
	[ID_RPOST] [int] NOT NULL,
	[ID_EMPLOYER] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CV] ASC,
	[ID_USER] ASC,
	[ID_RPOST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VIEWED_CV]  WITH CHECK ADD  CONSTRAINT [FK_CV] FOREIGN KEY([ID_CV], [ID_USER])
REFERENCES [dbo].[CV] ([ID], [ID_USER])
GO
ALTER TABLE [dbo].[VIEWED_CV] CHECK CONSTRAINT [FK_CV]
GO
