USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[NORMAL_USER]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NORMAL_USER](
	[ID] [int] NOT NULL,
	[FULLNAME] [varchar](255) NOT NULL,
	[BIRTHDATE] [date] NOT NULL,
	[SEX] [char](1) NOT NULL,
	[BLOGUPLOADED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NORMAL_USER] ADD  DEFAULT ((0)) FOR [BLOGUPLOADED]
GO
ALTER TABLE [dbo].[NORMAL_USER]  WITH CHECK ADD  CONSTRAINT [FK_ACC_USER] FOREIGN KEY([ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NORMAL_USER] CHECK CONSTRAINT [FK_ACC_USER]
GO
