USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[EMPLOYEE_PHONE]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_PHONE](
	[EMP_ID] [int] NOT NULL,
	[PHONE_NUM] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC,
	[PHONE_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLOYEE_PHONE]  WITH CHECK ADD  CONSTRAINT [FK_EMP_PHONE] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EMPLOYEE_PHONE] CHECK CONSTRAINT [FK_EMP_PHONE]
GO
