USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[ID] [int] NOT NULL,
	[ADDRESS] [varchar](255) NOT NULL,
	[WEBSITE] [varchar](255) NULL,
	[NAME] [varchar](255) NOT NULL,
	[BUSINESS_FIELD] [varchar](255) NOT NULL,
	[BUSINESS_TYPE] [varchar](255) NOT NULL,
	[EXPIRED_DATE] [date] NOT NULL,
	[REMAINING] [int] NOT NULL,
	[LOGO] [varchar](255) NULL,
	[PHONENUMBER] [int] NULL,
	[ID_Account] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPANY]  WITH CHECK ADD  CONSTRAINT [fk_idAccount_id] FOREIGN KEY([ID_Account])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[COMPANY] CHECK CONSTRAINT [fk_idAccount_id]
GO
