USE [ASSIGNMENT2_DS]
GO
/****** Object:  Table [dbo].[SUBMIT_CV]    Script Date: 12/8/2019 11:01:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBMIT_CV](
	[ID_RPOST] [int] NOT NULL,
	[ID_CV] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
	[TIMESUBMIT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RPOST] ASC,
	[ID_CV] ASC,
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
